<header class="site-header" role="banner">
    <div class="wrapper flex justify-between items-center">
        <a class="site-logo" href="/" title="Torna alla home page">
            <span class="sr-only">Quantitas S.R.L.</span>
        </a>
        <button id="menu-toggle-btn" type="button" class="inline-flex lg:hidden" aria-label="Apri il menù" aria-expanded="false" aria-controls="site-menu" aria-haspopup="menu">
           <span class="material-symbols-outlined text-primary" aria-hidden="true">menu</span>
        </button>
        <nav id="site-menu" class="site-menu hidden lg:block">
            <ul class="flex gap-4 items-center">
                <li>
                    <a href="#">
                        Tourism Intelligence
                    </a>
                </li>
                <li>
                    <a href="#">
                        Smart Tourism Destination
                    </a>
                </li>
                <li>
                    <a href="#">
                        Quantitas
                    </a>
                </li>
                <li>
                    <button class="btn">Inizia ora</button>
                </li>
            </ul>
        </nav>
    </div>
</header>