<header class="site-header" role="banner">
    <div class="wrapper flex justify-between items-center">
        <a class="site-logo" href="/" aria-label="Torna alla Home page" title="Torna alla Home page">
            logo
        </a>
        <nav class="site-menu hidden lg:block">
            <ul class="flex gap-4 items-center">
                <li>
                    <a href="#">
                        Tourism Intelligence
                    </a>
                </li>
                <li>
                    <a href="#">
                        Smart Tourism Destination
                    </a>
                </li>
                <li>
                    <a href="#">
                        Quantitas
                    </a>
                </li>
                <li>
                    <button class="btn">Inizia ora</button>
                </li>
            </ul>
        </nav>
    </div>
</header>