<div class="overflow-y-auto whitespace-nowrap">
    <ul class="slider whitespace-nowrap p-6 space-x-4">
        <li class="inline-block">
            {% include card.html img='/assets/images/chart-5.webp' alt='Grafico d\'esempio'
            caption=page.hero-figure-1 %}
        </li>
        <li class="inline-block">
            {% include card.html img='/assets/images/chart-8.webp' alt='Grafico d\'esempio'
            caption=page.hero-figure-2 %}
        </li>
        <li class="inline-block">
            {% include card.html img='/assets/images/smce.gif' alt='Grafico d\'esempio'
            caption=page.hero-figure-3  url="#video-anchor" %}
        </li>
        <li class="inline-block">
            {% include card.html img='/assets/images/chart-7.webp' alt='Grafico d\'esempio'
            caption=page.hero-figure-3 %}
        </li>
    </ul>
</div>
