<header class="wrapper relative md:flex md:gap-6 justify-between items-center pt-36 sm:pt-48 md:pt-52 pb-6">
    {% include home-hero-cover.html %}
    <div class="md:basis-1/2 mb-8 md:mb-0">
        <h1 class="text-4xl md:text-5xl font-bold text-gradient">
            {{ page.hero-h1 }}
        </h1>
        <p class="text-2xl mt-2">
            {{ page.hero-subtitle }}
        </p>
    </div>
    <div class="md:basis-1/2 space-y-2">
        <p>
            {{ page.hero-p1 }}
        </p>
        <p>
            {{ page.hero-p2 }}
        </p>
        <p class="pb-6">
            {{ page.hero-p3 }}
        </p>
        <a href="#" class="btn">{{ page.hero-cta }}</a>
    </div>
</header>
{% include home-hero-slider.html %}
