<div class="overflow-y-auto whitespace-nowrap">
    <ul class="slider whitespace-nowrap p-6 space-x-4">
        <li class="inline-block">
            {% include card.html img='/assets/images/chart-1.webp' alt='Grafico d\'esempio'
            caption='Dati sul pernottamento in aree specifiche' %}
        </li>
        <li class="inline-block">
            {% include card.html img='/assets/images/chart-2.webp' alt='Grafico d\'esempio'
            caption='Dati sul pernottamento in aree specifiche' %}
        </li>
        <li class="inline-block">
            {% include card.html img='/assets/images/chart-3.webp' alt='Grafico d\'esempio'
            caption='Dati sul pernottamento in aree specifiche' %}
        </li>
        <li class="inline-block">
            {% include card.html img='/assets/images/chart-4.webp' alt='Grafico d\'esempio'
            caption='Dati sul pernottamento in aree specifiche' %}
        </li>
    </ul>
</div>
