@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Regular.eot');
        src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Italic.eot');
        src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato-Italic.woff') format('woff'),
        url('../fonts/Lato-Italic.ttf') format('truetype'),
        url('../fonts/Lato-Italic.svg#Lato') format('svg');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Bold.eot');
        src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold.svg#Lato') format('svg');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-BoldItalic.eot');
        src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
        url('../fonts/Lato-BoldItalic.woff') format('woff'),
        url('../fonts/Lato-BoldItalic.ttf') format('truetype'),
        url('../fonts/Lato-BoldItalic.svg#Lato') format('svg');
        font-weight: 700;
        font-style: italic;
        font-display: swap;
    }
    body {
        @apply text-black;
    }
}

@layer utilities {
    .gradient-secondary {
        @apply bg-gradient-to-t from-secondary to-secondary-dark;
    }

    .gradient-secondary-reverse {
        @apply bg-gradient-to-b from-secondary to-secondary-dark;
    }

    .gradient-primary {
        @apply bg-gradient-to-t from-primary to-primary-dark
    }

    .gradient-tan {
        @apply bg-gradient-to-b from-tan to-tan-dark
    }

    .text-gradient {
        @apply gradient-primary inline text-transparent bg-clip-text;
    }

    .wrapper {
        @apply w-full max-w-screen-xl px-2 mx-auto md:px-4;
    }

    .emboss {
        box-shadow: -3px 3px 8px 0 rgba(0, 0, 0, 0.30),
        -1px 1px 2px 0 rgba(0, 0, 0, 0.40),
        inset 2px -2px 4px 0 rgba(0, 0, 0, 0.35),
        inset -2px 2px 5px 0 #FFF;
    }
}

@layer components {
    .btn {
        @apply
        transition
        ease-in-out
        duration-300
        inline-flex
        justify-center
        content-center
        gap-2
        px-8
        py-2
        text-sm
        text-white
        uppercase
        rounded-[48px]
        border-2
        border-secondary
        font-bold
        tracking-[1.25px]
        gradient-secondary
        hover:border-accent
        active:border-secondary-dark;
    }

    .btn-secondary {
        @apply
        relative
        bg-transparent
        bg-none
        border-[3px]
        rounded-[48px]
        border-transparent
        duration-1000;
        background: linear-gradient(#1157AD, #1157AD) padding-box,
        linear-gradient(95deg, #3FFD6A 40%, white 50%, #3FFD6A 60%) border-box;
    }

    .btn-secondary:hover {
        background: linear-gradient(#1157AD, #1157AD) padding-box,
        linear-gradient(95deg, #3FFD6A 100%, white 100%, #3FFD6A 100%) border-box;
    }

    .btn-secondary:active {
        @apply duration-100 border-primary-dark bg-none;
    }

    .site-bg {
        @apply
        bg-false-white
        bg-[url("../images/bg-texture.png")] /*fallback*/
        bg-[url("../images/bg-texture.webp")]
        bg-center
        bg-repeat
        bg-[length:20px_20px]
        before:content-['']
        before:absolute
        before:top-0
        before:left-0
        before:w-full
        before:h-full
        before:bg-[url("../images/color-lights.png")] /*fallback*/
        before:bg-[url("../images/color-lights.webp")]
        before:bg-top
        before:bg-no-repeat
        before:bg-contain
        before:md:bg-cover
        before:-z-10;
    }

    .site-header {
        @apply transition-all duration-300 py-5 bg-gradient-to-b from-false-white to-transparent sticky top-0 z-50;
    }

    .site-header.is-sticky {
        @apply !bg-false-white shadow-xl;
    }

    .site-menu a {
        @apply px-4 py-2 font-bold hover:underline underline-offset-4;
    }

    .site-logo {
        @apply
        block
        w-[210px]
        h-[28px]
        bg-[url("../images/quantitas-logo.svg")]
        bg-no-repeat
        bg-contain
        my-2
        -indent-96;
    }

    #menu-toggle-btn {
        @apply h-10 w-10 items-center justify-center;
    }

    #menu-toggle-btn span {
        @apply text-[32px];
    }

    .is-open #menu-toggle-btn,
    .is-open .site-logo {
        @apply z-10 !block;
    }

    .is-open .site-menu {
        @apply !block absolute top-0 left-0 w-full z-0 h-screen bg-gradient-to-b from-white to-tan;
    }

    .is-open .site-menu ul {
        @apply flex-col gap-12 mt-[120px];
    }

    .decorative-image {
        @apply absolute bg-no-repeat bg-contain z-[-1];
    }

    .decorative-image.water {
        @apply
        bg-[url("../images/water.png")] /*fallback*/
        bg-[url("../images/water.webp")]
        md:w-[372px]
        md:h-[304px]
        sm:w-[281px]
        sm:h-[277px]
        w-[201px]
        h-[167px]
    }

    .decorative-image.nature {
        @apply
        bg-[url("../images/nature.png")] /*fallback*/
        bg-[url("../images/nature.webp")]
        md:w-[274px]
        md:h-[178px]
        sm:w-[214px]
        sm:h-[138px]
        w-[164px]
        h-[98px]
    }

    .decorative-image.city {
        @apply
        bg-[url("../images/city.png")] /*fallback*/
        bg-[url("../images/city.webp")]
        md:w-[370px]
        md:h-[323px]
        sm:w-[300px]
        sm:h-[273px]
        w-[200px]
        h-[186px];
    }

    .card {
        @apply
        p-4
        rounded-2xl
        gradient-tan
        inline-flex
        flex-col
        gap-2
        emboss;
    }

    .card.is-light {
        @apply bg-false-white bg-none;
    }

    .slider .card img {
        @apply h-[280px] md:h-[360px] w-auto;
    }

    .section-gradient {
        @apply
        gradient-primary
        relative
        my-12
        text-white
        before:content-['']
        before:absolute
        before:top-[-63px]
        before:left-0
        before:w-full
        before:h-[64px]
        before:bg-[url("../images/wave-top.png")]
        before:bg-repeat-x
        before:bg-[length:1440px_64px]
        after:content-['']
        after:absolute
        after:bottom-[-63px]
        after:left-0
        after:w-full
        after:h-[64px]
        after:bg-[url("../images/wave-bottom.png")]
        after:bg-repeat-x
        after:bg-[length:1440px_64px]
    }

    .block-list li {
        @apply
        border-4
        border-white
        p-4
        rounded
        inline-flex
        items-center
        text-center
        text-xl
        font-bold;
    }
}
