@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Regular.eot');
        src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Italic.eot');
        src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato-Italic.woff') format('woff'),
        url('../fonts/Lato-Italic.ttf') format('truetype'),
        url('../fonts/Lato-Italic.svg#Lato') format('svg');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Bold.eot');
        src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold.svg#Lato') format('svg');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-BoldItalic.eot');
        src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
        url('../fonts/Lato-BoldItalic.woff') format('woff'),
        url('../fonts/Lato-BoldItalic.ttf') format('truetype'),
        url('../fonts/Lato-BoldItalic.svg#Lato') format('svg');
        font-weight: 700;
        font-style: italic;
        font-display: swap;
    }
    body {
        @apply text-black;
    }
}

@layer utilities {
    .gradient-secondary {
        @apply bg-gradient-to-t from-secondary to-secondary-dark;
    }

    .gradient-secondary-reverse {
        @apply bg-gradient-to-b from-secondary to-secondary-dark;
    }

    .gradient-primary {
        @apply bg-gradient-to-t from-primary to-primary-dark
    }

    .wrapper {
        @apply w-full max-w-screen-xl px-2 mx-auto md:px-4;
    }
}

@layer components {
    .btn {
        @apply hover:border-accent
        active:border-secondary-dark
        transition
        ease-in-out
        duration-300
        inline-flex
        justify-center
        content-center
        gap-2
        px-8
        py-2
        text-sm
        text-white
        uppercase
        rounded-[48px]
        border-2
        border-secondary
        font-bold
        tracking-[1.25px]
        gradient-secondary;
    }

    .site-bg {
        @apply
        bg-false-white
        bg-[url("../images/bg-texture.png")] /*fallback*/
        bg-[url("../images/bg-texture.webp")]
        bg-center
        bg-repeat
        bg-[length:20px_20px]
        before:content-['']
        before:absolute
        before:top-0
        before:left-0
        before:w-full
        before:h-full
        before:bg-[url("../images/color-lights.png")] /*fallback*/
        before:bg-[url("../images/color-lights.webp")]
        before:bg-top
        before:bg-no-repeat
        before:bg-contain
        before:md:bg-cover
        before:-z-10;
    }

    .site-header {
        @apply py-5;
    }

    .site-menu a {
        @apply px-4 py-2 font-bold hover:underline underline-offset-4;
    }

    .site-logo {
        @apply
        block
        w-[210px]
        h-[28px]
        bg-[url("../images/quantitas-logo.svg")]
        bg-no-repeat
        bg-contain
        my-2
        -indent-96;
    }

    #menu-toggle-btn {
        @apply h-10 w-10 items-center justify-center;
    }

    #menu-toggle-btn span {
        @apply text-[32px];
    }

    .is-open #menu-toggle-btn,
    .is-open .site-logo {
        @apply z-10;
    }

    .is-open .site-menu {
        @apply !block absolute top-0 left-0 w-full bg-tan z-0 h-full;
    }

    .is-open .site-menu ul {
        @apply flex-col gap-12 mt-[120px];
    }
}
