@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Regular.eot');
        src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Italic.eot');
        src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato-Italic.woff') format('woff'),
        url('../fonts/Lato-Italic.ttf') format('truetype'),
        url('../fonts/Lato-Italic.svg#Lato') format('svg');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Bold.eot');
        src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold.svg#Lato') format('svg');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-BoldItalic.eot');
        src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
        url('../fonts/Lato-BoldItalic.woff') format('woff'),
        url('../fonts/Lato-BoldItalic.ttf') format('truetype'),
        url('../fonts/Lato-BoldItalic.svg#Lato') format('svg');
        font-weight: 700;
        font-style: italic;
        font-display: swap;
    }
    body {
        @apply text-black text-base md:text-lg;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 120% !important;
    }

    *:focus-visible {
        @apply outline-2 outline-offset-4 transition-all duration-300 outline-primary ring-1 ring-white ring-opacity-50;
    }

    html {
        scroll-behavior: smooth;
    }

    #contatti,
    #smart-tourism-destination,
    #tourism-intelligence {
        scroll-margin-top: 60px;
    }

    .skip-link {
        @apply block h-[1px] w-[1px] overflow-hidden py-3 px-6 bg-white no-underline absolute top-4 left-4 z-[99] text-base;
        clip: rect(1px, 1px, 1px, 1px);
    }

    .skip-link:focus {
        @apply overflow-visible h-auto w-auto;
        clip: auto;
    }
}

@layer utilities {
    .gradient-secondary {
        @apply bg-gradient-to-t from-secondary to-secondary-dark;
    }

    .gradient-secondary-reverse {
        @apply bg-gradient-to-b from-secondary to-secondary-dark;
    }

    .gradient-primary {
        @apply bg-gradient-to-t from-primary to-primary-dark
    }

    .gradient-tan {
        @apply bg-gradient-to-b from-tan to-tan-dark
    }

    .text-gradient {
        @apply gradient-primary inline-block text-transparent bg-clip-text;
    }

    .wrapper {
        @apply w-full max-w-screen-xl px-2 mx-auto md:px-4;
    }

    .emboss {
        box-shadow: -3px 3px 8px 0 rgba(0, 0, 0, 0.30),
        -1px 1px 2px 0 rgba(0, 0, 0, 0.40),
        inset 2px -2px 4px 0 rgba(0, 0, 0, 0.35),
        inset -2px 2px 5px 0 #FFF;
    }

}

@layer components {
    .icon {
        @apply flex-none inline-block w-6 h-6 align-middle fill-none;
    }

    .btn {
        @apply
        transition
        ease-in-out
        duration-300
        inline-flex
        justify-center
        content-center
        gap-2
        px-8
        py-2
        text-sm
        text-white
        uppercase
        rounded-[48px]
        border-2
        border-secondary
        font-bold
        tracking-[1.25px]
        gradient-secondary
        hover:border-accent
        active:border-secondary-dark;
    }

    .btn-secondary {
        @apply
        relative
        bg-transparent
        bg-none
        border-[3px]
        rounded-[48px]
        border-transparent
        duration-1000;
        background: linear-gradient(#1157AD, #1157AD) padding-box,
        linear-gradient(95deg, #3FFD6A 40%, white 50%, #3FFD6A 60%) border-box;
    }

    .btn-secondary:hover {
        background: linear-gradient(#1157AD, #1157AD) padding-box,
        linear-gradient(95deg, #3FFD6A 100%, white 100%, #3FFD6A 100%) border-box;
    }

    .btn-secondary:active {
        @apply duration-100 border-primary-dark bg-none;
    }

    .card {
        @apply
        p-4
        rounded-2xl
        gradient-tan
        inline-flex
        flex-col
        gap-2
        emboss;
    }

    .card.is-light {
        @apply bg-false-white bg-none w-full;
    }

    .section-gradient {
        @apply
        gradient-primary
        relative
        my-12
        text-white
        before:content-['']
        before:absolute
        before:top-[-63px]
        before:left-0
        before:w-full
        before:h-[64px]
        before:bg-[url("../images/wave-top.png")]
        before:bg-repeat-x
        before:bg-[length:1440px_64px]
        after:content-['']
        after:absolute
        after:bottom-[-63px]
        after:left-0
        after:w-full
        after:h-[64px]
        after:bg-[url("../images/wave-bottom.png")]
        after:bg-repeat-x
        after:bg-[length:1440px_64px]
    }
}


.site-bg {
    @apply
    bg-false-white
    bg-[url("../images/bg-texture.png")] /*fallback*/
    bg-[url("../images/bg-texture.webp")]
    bg-center
    bg-repeat
    bg-[length:20px_20px]
    before:content-['']
    before:absolute
    before:top-0
    before:left-[50%]
    before:translate-x-[-50%]
    before:w-full
    before:h-full
    before:max-h-[1280px]
    before:max-w-[1920px]
    before:bg-[url("../images/color-lights.png")] /*fallback*/
    before:bg-[url("../images/color-lights.webp")] /*fallback*/
    before:bg-top
    before:bg-no-repeat
    before:bg-contain
    before:-z-10;
}

.site-header {
    @apply transition-all duration-300 py-5 bg-gradient-to-b from-false-white to-transparent sticky top-0 z-50;
}

.site-header.is-sticky {
    @apply !bg-opacity backdrop-blur-md shadow-xl;
}

.site-menu a {
    @apply px-4 py-2 font-bold hover:underline underline-offset-4;
}

.site-logo {
    @apply
    block
    w-[210px]
    h-[28px]
    bg-[url("../images/quantitas-logo.svg")]
    bg-no-repeat
    bg-contain
    my-2
    -indent-96;
}

#menu-toggle-btn {
    @apply h-10 w-10 items-center justify-center;
}

#menu-toggle-btn span {
    @apply text-[32px];
}

.is-open #menu-toggle-btn,
.is-open .site-logo {
    @apply z-10 !block;
}

.is-open .site-menu {
    @apply !block absolute top-0 left-0 w-full z-0 h-screen bg-gradient-to-b from-white to-tan;
}

.is-open .site-menu ul {
    @apply flex-col gap-12 mt-[120px];
}

.decorative-image {
    @apply absolute bg-no-repeat bg-contain z-[-1];
}

.decorative-image.water {
    @apply
    bg-[url("../images/water.png")] /*fallback*/
    bg-[url("../images/water.webp")]
    md:w-[372px]
    md:h-[304px]
    sm:w-[281px]
    sm:h-[277px]
    w-[201px]
    h-[167px]
}

.decorative-image.nature {
    @apply
    bg-[url("../images/nature.png")] /*fallback*/
    bg-[url("../images/nature.webp")]
    md:w-[274px]
    md:h-[178px]
    sm:w-[214px]
    sm:h-[138px]
    w-[164px]
    h-[98px]
}

.decorative-image.city {
    @apply
    bg-[url("../images/city.png")] /*fallback*/
    bg-[url("../images/city.webp")]
    md:w-[370px]
    md:h-[323px]
    sm:w-[300px]
    sm:h-[273px]
    w-[200px]
    h-[186px];
}

.decorative-image.bg-blur-1 {
    @apply
    bg-[url("../images/bg-blur-1.png")]
    w-[532px]
    h-[882px];
}

.decorative-image.bg-blur-2 {
    @apply
    bg-[url("../images/bg-blur-2.png")]
    w-[478px]
    h-[766px];
}

.decorative-image.bg-blur-3 {
    @apply
    bg-[url("../images/bg-blur-3.png")]
    w-[421px]
    h-[813px];
}

.decorative-image.bg-blur-4 {
    @apply
    bg-[url("../images/bg-blur-4.png")]
    w-[588px]
    h-[843px];
}

.decorative-image.lights {
    @apply
    bg-[url("../images/lights.png")]
    right-0
    top-0
    w-[620px]
    h-[620px]
    sm:w-[820px]
    sm:h-[820px]
    md:w-[1020px]
    md:h-[1020px];
}


.slider .card img {
    @apply h-[280px] md:h-[360px] w-auto max-w-none;
}

.block-list li {
    @apply
    border-4
    border-white
    p-4
    rounded
    inline-flex
    items-center
    w-full
    justify-center
    text-center
    text-lg
    md:text-xl
    font-bold;
}

.strikethrough {
    @apply
    relative
    inline-block
    after:content-['']
    after:absolute
    after:top-[-27px]
    after:right-[-24px]
    after:w-[120px]
    after:h-[50px]
    after:bg-[length:120px_50px]
    after:bg-[url("../images/strikethrough.png")];
}

.strikethrough s {
    text-decoration: none;
}

.input-wrapper {
    @apply flex flex-col;
}

.label {
    @apply font-bold text-lg inline-block mb-1;
}

.input {
    @apply appearance-none p-4 rounded border border-primary bg-false-white;
}

.input.is-invalid {
    @apply border-alert border-2;
}

.helper-text {
    @apply leading-tight inline-block mt-2;
}

.toggle {
    @apply
    absolute
    cursor-pointer
    top-[8px]
    left-0
    right-0
    bottom-0
    bg-tan
    transition-all
    duration-500
    w-12
    h-4
    rounded-full
    before:content-['']
    before:absolute
    before:w-[26px]
    before:h-[26px]
    before:left-0
    before:bottom-[-4px]
    before:bg-white
    before:rounded-full
    before:shadow-[0_1px_2px_0_rgba(0,0,0,.8)]
    before:transition-all;
}

input:checked + .toggle {
    @apply
    bg-tan-dark
    before:bg-primary;
}

input:checked + .toggle:before {
    @apply left-[26px];
}

#input-toggle:focus-visible + .toggle + .label-toggle {
    @apply outline outline-2 outline-offset-4 outline-primary rounded-2xl transition-all duration-300;
}

.error-hint {
    @apply bg-alert text-sm text-white rounded inline-block p-2 mt-2;
}

#cookies-eu-banner {
    @apply bg-primary-dark text-white fixed z-50 bottom-0 left-0 p-4 w-full text-sm md:text-base;
}

@media (prefers-reduced-motion: no-preference) {
    .animation {
        animation-duration: 1s;
        animation-timing-function: ease-out;
        backface-visibility: hidden;
    }

    .move-in-left {
        animation-name: moveInLeft;
    }

    .move-in-right {
        animation-name: moveInRight;
    }

    .move-in-bottom {
        animation-name: moveInBottom;
    }

    .fade-in {
        animation-name: fadeIn;
        animation-duration: 3s;
    }

    .card.is-small:hover {
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        backface-visibility: hidden;
        animation-name: scaleUp;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
